body {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

textarea {
  min-width: 500px;
  min-height: 300px;
}

button {
  font-size: 1.5em;
  align-self: center;
}
